
body{
    background: #f5f5f5;
}
.head{
    outline: 1px solid red;
    position: relative;
}
.head .bg{
    width: 100%;
    vertical-align: top;
}
.downList{
    position: absolute;
    top: 0.12rem;
    right: 0.16rem;

}
.downList a{
    color: #ffffff;
    margin-left: 0.2rem;
    height: 0.32rem;
    display: inline-block;
    padding-top: 0.2rem;
    box-sizing: border-box;
    text-align: center;
}
.downList a:first-of-type{
    background: url("../image/my/urse.png") center 0 no-repeat;
    background-size: 0.14rem 0.15rem;
}
.downList a:last-of-type{
    background: url("../image/my/down.png") center 0 no-repeat;
    background-size: 0.14rem 0.15rem;
}
.head .logo{
    width: 0.53rem;
    height: 0.53rem;
    position: absolute;
    left: 1.33rem;
    top: 0.58rem;
}
.head .login{
    position: absolute;
    left: 1.23rem;
    bottom: 0.29rem;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 0.06rem 0.2rem;
}
.userList{
    margin-top: 0.12rem;
     background: #ffffff;
    padding: 0 0.2rem;
}
.userList li{
    height: 0.48rem;
    line-height: 0.48rem;
    border-bottom: 1px solid #dcdcdc;
    background: url("../image/my/right.png") right center no-repeat;
    background-size:0.07rem 0.14rem ;

}
.userList img{
    width: 0.16rem;
    height: 0.16rem;
}

.rentalAddr{
    height: 0.36rem;
    line-height: 0.36rem;
    background: #ffffff;
    border-bottom: 1px solid #c5c5c5;
    padding-left: 0.15rem;
}




/*我的登录页面*/
.ueserLogin{
    width: 100%;
    height: 1.4rem;
    background: url("../image/my/bg2.png") 0 0 no-repeat;
    background-size: contain;
}
.ueserLogin .ueser{
    width: 0.54rem;
    height: 0.54rem;
    margin-left: 1.33rem;
    margin-top: 0.18rem;
}
.ueserLogin p{
    text-align: center;
    margin-top: 0.28rem;
    color: #ffffff;
}
.myLoginList{
    background: #ffffff;
    border-bottom: 1px solid #dcdcdc;

}
.myLoginList li a{
    display: block;
    height: 0.43rem;
    line-height: 0.43rem;
    border-bottom: 1px solid #dcdcdc;
    background: url("../image/my/right.png") right center no-repeat;
    background-size: 0.07rem 0.14rem;
    margin-right: 0.24rem;
    margin-left: 0.14rem;
}
.myLoginList li:last-of-type a{
    border-bottom: none;
}
.loginBtn{
    display: inline-block;
    width: 2.99rem;
    height: 0.38rem;
    background: #ffffff;
    color: #ff8a00;
    border: 1px solid #dcdcdc;
    text-align: center;
    line-height: 0.38rem;
    margin: 0.3rem 0.1rem;
}


/*------------------------------------------------------------------------*/
/*重用SecondHandList中的列表的代码*/
.secondContent{
    padding: 0 0.2rem;
    font-size: 0.12rem;
}
.secondContent li{
    padding: 0.2rem 0;
    border-bottom: 1px solid #ff8a00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secondContent li:last-of-type{
    border-bottom: none;
}
.secondContent .left img{
    width: 0.81rem;
    height: 0.81rem;
}
.secondContent .right{
    width: 1.87rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
.secondContent .right h2{
    font-size: 0.14rem;
}
.secondContent .right p{
    color: #000;
    line-height: 0.21rem;
}
.secondContent .right p:first-of-type{
    margin-top: 0.05rem;
}
.secondContent .right strong{
    color: #ff8a00;
    margin-left: 0.18rem;
}

/*------------------------------------------------------------------------*/








